@keyframes slidein {
    from {
      margin-top: -30%;
     
    }
  
    to {
      margin-top: 0%;
      
    }
}

@keyframes init {
    from {
      margin-left: -300%;
     
    }
  
    to {
      margin-left: 0%;
      
    }
  }

@keyframes slideinError {
    from {
      margin-bottom: -30%;
     
    }
  
    to {
      margin-bottom: 0%;
      
    }
}

@font-face{
    font-family: "PleaseWriteMeASong";
    src: url("../../../assets/PleaseWriteMeASong.ttf");
}

ion-content{
    --background: url("../../../assets/fondo.jpg");
}

form{
    background-color: transparent;
    position: relative;
    margin-top: 25%;
    margin-bottom: 20%;
    margin-right: 10%;
    margin-left: 10%;
    //border-color: rgb(81, 81, 81);
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    height: 70%;
    text-align: center;

    animation-duration: 1s;
    animation-name: init;
}

ion-icon{
    color: white;
}

ion-input{
    --font-family: "PleaseWriteMeASong";
}

ion-input{
    --border-radius: 15px;
}

ion-chip{
    height: 9%;
}

ion-chip.password{
    width: 90%;
}

.boton{
    width: 90%;
}

button{
    width: 100%;
    background: transparent;
    outline: none;
    color: white;
    font-size: 25px;
}

ion-chip.limpiar{
    padding-bottom: 5px;
}

.avatar{
    height: 90%,
    
}

div.error
{
    position: absolute;
    bottom: 3%;
    left: 10%;
    width: 80%;
    height: 10%;
    text-align: center;
    color: white;
    padding-bottom: 10%;
    background: rgba(255, 0, 0, 0.524);
    font-size: 30px;
    border-radius: 5px;
    border: solid 1.5px red;

    animation-duration: 1s;
    animation-name: slideinError;
}

p{
    position: relative;
    bottom: 60%;
}

p.userError{
    font-size: 27px;
}   

div.userError{
    position: absolute;
    top: 3%;
    left: 10%;
    width: 80%;
    height: 10%;
    text-align: center;
    color: white;
    padding-bottom: 10%;
    background: rgba(255, 0, 0, 0.524);
    font-size: 30px;
    border-radius: 5px;
    border: solid 1.5px red;

    animation-duration: 1s;
    animation-name: slidein;
}