@keyframes slidein {
  from {
    margin-bottom: 40%;
   
  }

  to {
    margin-bottom: 0%;
    
  }
}


p {
  font-size: 30px;
  line-height: 22px;

  color: white;
  text-align: center;
  padding-top: 20%;
  
}

ion-content{
  --background: url("../../assets/fondo.jpg");
}

h1{
  text-align: center;
  font-size: 30px;
}

ion-toolbar{
  --background : rgba(32, 32, 32, 0.523) ; 
}

div{
  background: rgba(32, 32, 32, 0.523);
  position: relative;
  margin-top: 25%;
    margin-bottom: 20%;
    margin-right: 10%;
    margin-left: 10%;
    height: 40%;
    border-radius: 10%;
}

button{
  background: rgba(32, 32, 32, 0.523);
  border-radius: 8%;
  height: 20%;
  width: 60%;
  color: white;
  font-size: 30px;
  outline: none;
  margin-left: 20%;
  margin-top: 15%;
}

button:active{
  background: rgba(204, 204, 204, 0.694)

}

.init{
    animation-duration: 1s;
    animation-name: slidein;
}